
/* slick slider customization */

.slider-container .slick-slide{
    padding: 0 5px;
}

.slider-container .slick-dots {
    position: absolute !important;
    bottom: -30px !important;
    left: -550px !important;
}

.slider-container .slick-dots li button:before{
    font-size: 12px !important;
    color: #7D1EFF !important;

}

.slider-container .slick-dots li.slick-active button:before {
    color: #7D1EFF !important;
}

/* media query */

@media only screen and (min-width: 375px) {
    .slider-container .slick-dots {
        bottom: 0px;
        left: 0px;
    }
}

@media only screen and (min-width: 992px) {
    .slider-container .slick-dots {
        bottom: 10px;
        left: 0px;
    }
}
@media only screen and (min-width: 1440px) {
    .slider-container .slick-dots {
        bottom: 10px;
        left: -550px;
    }
}
/* media query */

/* slick slider customization */
